/\.build
/\.cache
/\.env
/\.github
/\.idea
/\.ignore
/\.vscode*
/data
/node_modules
/public
/src/components/Msa/*.js
/src/components/Msa/msa
/src/components/Tree/*.js
/src/components/Tree/phyloTree
/tsconfig.json
